# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VIM temporary files
*.sw

# GDB stackdump
*.stackdump

# CSV files
sparse_matrix_coords_and_values.csv
userID_map.csv

# Log files
time.log
*serialized
